/* 
	white: #fffff5; 
	purple: #37006e;
	green: #004204;
	pink: #d98a98;
*/

@font-face {
	font-family: Spectral;
	src: url('../fonts/Spectral/Spectral-Regular.ttf');
}

body {
	margin: 0;
	background-color: #fffff5;
	font-family: Spectral, serif;
}

.bg-white {
	background-color: #fffff5;
}

.bg-purple {
	background-color: #37006e;
}

.bg-pink {
	background-color: #d98a98;
}

.white {
	color: #fffff5;
}

.green {
	color: #004204;
}

.purple {
	color: #37006e;
}

.rounded {
	border-radius: 5px;
}

.vh100 {
	height: 100vh;
}

section {
	margin-top: 4em;
}

/* sections */
section h2 {
	text-align: center;
	color: #004204;
}
